#content {
    width:100%;
    border: 1px solid white;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    text-align: center;
}

input[type=text] {
    display: block;
    margin: auto;
    width: 30%;
    border: 1px solid #818181;
    padding: 5px;
}



input[type=submit]:hover, form a:hover {
    background: #007cc2;
    cursor: pointer;
}

table, th, td {
    border: solid black 1px;
}

tr:nth-child(2n+2) {
    background: #DCF2FA;
}

#header {
	background: #99ccff;
	height: 100px;
}

#footer {
	clear: left;
	width: 100%;
	background: #99ccff;
	text-align: center;
	padding: 4px 0;
	margin-top: 60%;
}